Repository GAIA-X4PLC-AAD/ontology-management-base, changes with the owners that CODEOWNERS names for each.
All owners: @robertschubert, @JustinDxx, @rcrswld, @phi981, @lenasauermann, @MircoNierenz, @konierik

fix naming convention issues
  hdmap/hdmap_ontology.ttl
  hdmap/hdmap_shacl.ttl
Owners: none

Add files via upload
  environment-model/EnvironmentModel-instance.json
Owners: @MircoNierenz

Create environment_ontology.ttl
  Environment/environment_ontology.ttl
Owners: none

Create environment_ontology.ttl
  environment/environment_ontology.ttl
Owners: none

Delete Environment directory
  Environment/environment_ontology.ttl
Owners: none

Update environment_ontology.ttl
  environment/environment_ontology.ttl
Owners: none

embedded generalshape and fixing open issues from review
  Scenario/georeference_shacl.ttl
  Scenario/scenario_shacl.ttl
Owners: none

Rename 'Scenario'-folder into 'scenario' 2
  scenario/scenario_shacl.ttl
Owners: @JustinDxx

added example how to nest the general shape
  README.md
Owners: @robertschubert, @JustinDxx

small correction
  README.md
Owners: @robertschubert, @JustinDxx

small correction
  README.md
Owners: @robertschubert, @JustinDxx

CODEOWNERS:

# github CODEOWNERS file to define owners of sub directories.
# Find a detailled description for github CODEOWNERS here:
# https://docs.github.com/de/repositories/managing-your-repositorys-settings-and-features/customizing-your-repository/about-code-owners
# Each line is a file pattern followed by one or more owners.

# root directory and default handling (Robert OR Justin). Subsequent definitions will overwrite a previous definition.
/* @robertschubert @JustinDxx

# examples directory (Robert OR Justin)
/examples @robertschubert @JustinDxx

# scenario directory (Rico AND Justin)
/scenario @rcrswld
/scenario @JustinDxx

# sensor directory (Rico AND Justin)
/sensor @rcrswld
/sensor @JustinDxx

# src directory and default handling (Robert OR Justin)
/src @robertschubert @JustinDxx

# survey directory (Philipp AND Robert)
/survey @robertschubert
/survey @phi981

# gx directory (Robert OR Lena)
/gx @robertschubert @lenasauermann

# environment-model directory (Mirco AND Robert)
/environment-model @robertschubert
/environment-model @MircoNierenz

#sensordata directory (Lena OR Robert AND Erik OR all those involved in relating classes (environment, localization, sensor, yni...))
/sensordata @lenasauermann @robertschubert
/sensordata @konierik
